.template {
	display: none !important;
}

.multi_select_icon_list .list_item {
	height: 176px;
	width: 150px;
	padding: 2px;
	border-top: 4px solid #ddd;
	border-left: 4px solid #ddd;
	border-bottom: 4px solid #777;
	border-right: 4px solid #777;
	display: inline-block;
	text-align: center;
	margin-right: 4pt;
	background-color: #ccc;
	overflow: hidden;
	margin-bottom: 4px;
	cursor: pointer;
}

.multi_select_icon_list .list_item_icon {
	width: 150px;
	height: 150px;
}

.multi_select_icon_list .multi_select_check {
	position: absolute;
	display: block;
	z-index: 1;
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
}

.smallScreen .multi_select_icon_list .multi_select_check {
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
}

.multi_select_icon_list .list_item.selected .multi_select_check {
	background-image: url(images/checkmark1.png);
}

.multi_select_icon_list .list_item.mousehold .multi_select_check {
	background-image: url(images/checkmark2.png);
}

.multi_select_icon_list .list_item.mousehold.selected .multi_select_check {
	background-image: url(images/checkmark2.png);
}

.multi_select_icon_list .list_item_btn {
	display: none;
}

#dimmer {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1 !important;
	background-color: black;
	filter: alpha(opacity=75);
	-khtml-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
}

.dialog {
	display: none;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 5;
}
.dialog_inner {
	width: 400px;
	height: 400px;
	margin: 50px auto 0 auto;
	padding: 0;
	background-color: #fff;
	border: 2px solid #ccc;
	color: #333;
}
.dialog_title {
	width: 100%;
	background-color: #3e327a;
	color: yellow;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid #ccc;
}
.dialog_content {
	padding: 6px;
}

body {
	margin: 0;
	padding: 0;
}

.page_header {
	padding: 6pt;
	border-bottom: 1px solid black;
}

.page_body {
	padding: 6px;
}
